{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks?api-version=2018-07-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks/3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n      \"name\": \"local/3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n      \"type\": \"Microsoft.Compute.Admin/locations/disks\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"diskId\": \"3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n        \"status\": \"Unattached\",\r\n        \"sharePath\": \"\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore\",\r\n        \"actualSize\": 915,\r\n        \"tenantId\": \"/subscriptions/624c8f0f-5748-4478-b7d4-7093bb6c9437/resourceGroups/DISKRG7A0921D6/providers/Microsoft.Compute/Disks/diskrptestt73kc61kwb_OsDisk_2_3d820a5f13d14dc184baee09557d7691\",\r\n        \"resourceType\": \"Disk\",\r\n        \"diskSku\": \"Standard_LRS\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks/626e95d8-c926-4005-8555-4649632d173d\",\r\n      \"name\": \"local/626e95d8-c926-4005-8555-4649632d173d\",\r\n      \"type\": \"Microsoft.Compute.Admin/locations/disks\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"diskId\": \"626e95d8-c926-4005-8555-4649632d173d\",\r\n        \"status\": \"Una[...]
    {
      "RequestUri": "/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks/3d820a5f-13d1-4dc1-84ba-ee09557d7691?api-version=2018-07-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks/3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n  \"name\": \"local/3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n  \"type\": \"Microsoft.Compute.Admin/locations/disks\",\r\n  \"location\": \"local\",\r\n  \"properties\": {\r\n    \"diskId\": \"3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n    \"status\": \"Unattached\",\r\n    \"sharePath\": \"\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore\",\r\n    \"actualSize\": 915,\r\n    \"tenantId\": \"/subscriptions/624c8f0f-5748-4478-b7d4-7093bb6c9437/resourceGroups/DISKRG7A0921D6/providers/Microsoft.Compute/Disks/diskrptestt73kc61kwb_OsDisk_2_3d820a5f13d14dc184baee09557d7691\",\r\n    \"resourceType\": \"Disk\",\r\n    \"diskSku\": \"Standard_LRS\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvmQPYN7TH64CbAhCU/YN5kOMfbfEqz8dLE/kNo973s2NsVtcovj4iz0a8GCS9mOuWApiyfRlG2mx9xCIuyV3K6QN+AMprIOcyrQMSIL1DJblN5A/f1Y41hx8mTg4EWQtt+itWS6tCM92yxfknNmeX"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14942"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f"
  }
}