{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks?api-version=2018-07-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks/3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n      \"name\": \"local/3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n      \"type\": \"Microsoft.Compute.Admin/locations/disks\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"diskId\": \"3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n        \"status\": \"Unattached\",\r\n        \"sharePath\": \"\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore\",\r\n        \"actualSize\": 915,\r\n        \"tenantId\": \"/subscriptions/624c8f0f-5748-4478-b7d4-7093bb6c9437/resourceGroups/DISKRG7A0921D6/providers/Microsoft.Compute/Disks/diskrptestt73kc61kwb_OsDisk_2_3d820a5f13d14dc184baee09557d7691\",\r\n        \"resourceType\": \"Disk\",\r\n        \"diskSku\": \"Standard_LRS\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks/626e95d8-c926-4005-8555-4649632d173d\",\r\n      \"name\": \"local/626e95d8-c926-4005-8555-4649632d173d\",\r\n      \"type\": \"Microsoft.Compute.Admin/locations/disks\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"diskId\": \"626e95d8-c926-4005-8555-4649632d173d\",\r\n        \"status\": \"Una[...]
    {
      "RequestUri": "/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks?tenantSubscriptionId=624c8f0f-5748-4478-b7d4-7093bb6c9437&api-version=2018-07-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks/3d820[...]
    {
      "RequestUri": "/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks?status=Unattached&api-version=2018-07-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks/3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n  [...]
    {
      "RequestUri": "/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks?sharePath=%5C%5CSU1FileServer.azurestack.local%5CSU1_ObjStore&api-version=2018-07-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks/3[...]
    {
      "RequestUri": "/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks?count=1&start=1&api-version=2018-07-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks/626e95d8-c926-4005-8555-4649632d173d\",\r\n      \"name\": \"local/626e95d8-c926-4005-8555-4649632d173d\",\r\n      \"type\": \"Microsoft.Compute.Admin/locations/disks\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"diskId\": \"626e95d8-c926-4005-8555-4649632d173d\",\r\n        \"status\": \"Unattached\",\r\n        \"sharePath\": \"\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore\",\r\n        \"actualSize\": 915,\r\n        \"tenantId\": \"/subscriptions/624c8f0f-5748-4478-b7d4-7093bb6c9437/resourceGroups/DISKRG7A0921D6/providers/Microsoft.Compute/Disks/diskrptestt20w012z_OsDisk_2_626e95d8c926400585554649632d173d\",\r\n        \"resourceType\": \"Disk\",\r\n        \"diskSku\": \"Standard_LRS\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvK9b83OzKTP6Ss6JDfWpvMClDCR4sOTjn8i6LFcW67eml4C3F40HLtgzak/Nyt66RY94Lv8ElK5vOX52KTtgr59HoE/dySP17jzIPI94RkWNXdZW1KNy8s4GmY9tNCGXz8AmlRj/z2cqsC21T5pdK"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14937"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f"
  }
}