{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks?api-version=2018-07-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks/3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n      \"name\": \"local/3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n      \"type\": \"Microsoft.Compute.Admin/locations/disks\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"diskId\": \"3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n        \"status\": \"Unattached\",\r\n        \"sharePath\": \"\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore\",\r\n        \"actualSize\": 915,\r\n        \"tenantId\": \"/subscriptions/624c8f0f-5748-4478-b7d4-7093bb6c9437/resourceGroups/DISKRG7A0921D6/providers/Microsoft.Compute/Disks/diskrptestt73kc61kwb_OsDisk_2_3d820a5f13d14dc184baee09557d7691\",\r\n        \"resourceType\": \"Disk\",\r\n        \"diskSku\": \"Standard_LRS\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/disks/626e95d8-c926-4005-8555-4649632d173d\",\r\n      \"name\": \"local/626e95d8-c926-4005-8555-4649632d173d\",\r\n      \"type\": \"Microsoft.Compute.Admin/locations/disks\",\r\n      \"location\": \"local\",\r\n      \"properties\": {\r\n        \"diskId\": \"626e95d8-c926-4005-8555-4649632d173d\",\r\n        \"status\": \"Una[...]
    {
      "RequestUri": "/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/diskmigrations/ba0644a4-c2ed-4e3c-a167-089a32865297?targetShare=%5C%5CSU1FileServer.azurestack.local%5CSU1_ObjStore%5C&api-version=2018-07-30-preview",
      "RequestMethod": "PUT",
      "RequestBody": "[\r\n  {\r\n    \"properties\": {\r\n      \"diskId\": \"3d820a5f-13d1-4dc1-84ba-ee09557d7691\",\r\n      \"status\": \"Unattached\",\r\n      \"sharePath\": \"\\\\\\\[...]
    {
      "RequestUri": "/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/diskmigrations/ba0644a4-c2ed-4e3c-a167-089a32865297/Cancel?api-version=2018-07-30-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/diskmigrations/ba0644a4-c2ed-4e3c-a167-089a32865297\",\r\n  \"name\": \"local/ba0644a4-c2ed-4e3c-a167-089a32865297\",\r\n  \"type\": \"Microsoft.Compute.Admin/locations/diskmigrations\",\r\n  \"location\": \"local\",\r\n  \"properties\": {\r\n    \"migrationId\": \"ba0644a4-c2ed-4e3c-a167-089a32865297\",\r\n    \"status\": \"Canceled\",\r\n    \"subtasks\": [\r\n      {\r\n        \"migrationSubTaskId\": \"288c4476-1138-4be8-b21f-dd8735e1125f\",\r\n        \"properties\": {\r\n          \"migrationSubtaskStatus\": \"Canceled\",\r\n          \"startTime\": \"2018-07-23T07:56:49.7265779Z\",\r\n          \"endTime\": \"2018-07-23T07:56:54.41405Z\",\r\n          \"targetShare\": \"\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore\",\r\n          \"sourceShare\": \"\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore\",\r\n          \"targetDiskStateForMigration\": \"Unattached\",\r\n          \"diskId\": \"626e95d8-c926-4005-8555-4649632d173d\"\r\n        }\r\n      },\r\n      {\r\n        \"migrationSubTaskId\": \"2e777876-02eb-43a0-ab6a-6aa239197bd7\",\r\n        \"properties\": {\r\n          \"migrationSubtaskStatus\": \"Canceled\",\r\n          \"endTime\": \"2018-07-23T07:56:54.41405Z\",\r\n          \"targetShare\": \"\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore\",\r\n          \"sourceShare\": \"\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore\",\r\n          \"targetDiskStateForMigration\": \"Unattached\",\r\n          \"diskId\": \"0373eb8b-fff9-4f30-80d6-59d8bf35590a\"\r\n        }\r\n      },\r\n      {\r\n        \"migrationSubTaskId\": \"9b32de74-840a-4dea-b1e3-0a5725eac698\",\r\n        \"properties\": {\r\n          \"migrationSubtaskStatus\": \"Canceled\",\r\n          \"endTime\": \"2018-07-23T07:56:54.4296721Z\",\r\n          \"targetShare\": \"\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore\",\r\n          \"sourceShare\": \"\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore\",\r\n          \"targetDiskStateForMigration\": \"Unattached\",\r\n          \"diskId\": \"3d820a5f-13d1-4dc1-84ba-ee09557d7691\"\r\n        }\r\n      }\r\n    ],\r\n    \"creationTime\": \"2018-07-23T07:56:49.6640759Z\",\r\n    \"startTime\": \"2018-07-23T07:56:49.6953266Z\",\r\n    \"endTime\": \"2018-07-23T07:56:54.4296721Z\",\r\n    \"targetShare\": \"\\\\\\\\SU1FileServer.azurestack.local\\\\SU1_ObjStore\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRviP7E2pbZZ9D0gotmQSxsFQWGN+c4qT0hLrbqkQWtUoGFi14Gewnn7oMi7lRrAtJa8jku4Jtrt6yR/MM5k2NvXC/tOA00YFyawnOyXFrH+GWTg5nvx4IZOcupNV/LVpLXwqMV/5d+5hEjfi5tO8fq"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1182"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/diskmigrations/ba0644a4-c2ed-4e3c-a167-089a32865297?api-version=2018-07-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/diskmigrations/ba0644a4-c2ed-4e3c-a167-089a32865297\",[...]
    {
      "RequestUri": "/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/diskmigrations?api-version=2018-07-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/diskmigrations/ba0644a4-c2ed-4e3c-a167-089a32865297\",\r\n  [...]
    {
      "RequestUri": "/subscriptions/1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f/providers/Microsoft.Compute.Admin/locations/local/diskmigrations?status=Succeeded&api-version=2018-07-30-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "WWW-Authenticate": [
          "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvxGFYooKFOcsMUZuGd0lp1JcajcKyupx8WuXLvLMZxelJ9yK0fyRTaCRN6IdgunFzCbRsccy+p/iBMDUpuHSp2ltb4gimGHrA6vtqSjBbvOXFb0P+jOvlzpJhAjinAwX5oqSMADSDkgmj4aXkJMk9"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14933"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "1116a3a9-eaeb-4fc4-9e9e-4a79c2bc075f"
  }
}